# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# tests
/coverage/
/playwright-report/
/test-results/

# production
/build/
/dist/

# local environment
.env*
!.env.example

# editor and OS
.DS_Store
*.swp

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
.vercel
.env*.local
